# Common
#alias aliases='source ~/install/aliases && cat ~/install/aliases'
alias aliases='source ~/install/aliases'
alias zshrc='source ~/.zshrc'
alias wine='LANG=ru_RU.utf8 wine'
alias upgrade='sudo apt update && sudo apt upgrade -y'
alias duh='du -h --max-depth=1'
alias sduh='sudo du -h --max-depth=1'

# Navigation
alias sites='cd ~/sites'
alias projects='cd ~/Projects'
alias ots='cd ~/Projects/ots'
alias Downloads='cd ~/Downloads'

# apache2
alias a2ls='ls -al /etc/apache2/sites-available/'
alias a2slen='ls -al /etc/apache2/sites-enabled/'
alias a2err='sudo tail /var/log/apache2/error_log'
alias a2errclr='sudo truncate -s0 "/var/log/apache2/error_log"'
alias a2rest='sudo systemctl restart apache2'
alias a2reload='sudo systemctl reload apache2'

# nginx
#alias nxls='ls -al /etc/nginx/sites-available/'
#alias nxlsen='ls -al /etc/nginx/sites-enabled/'
#alias nxerr='sudo tail /var/log/nginx/error.log'
#alias nxerrclr='sudo truncate -s0 "/var/log/nginx/error.log"'
#alias nxrest='sudo systemctl restart nginx'
#alias nxreload='sudo systemctl reload nginx'
#alias nxensite='~/Scripts/web/nxensite.sh'

# mysql
alias mysqlstart='sudo systemctl start mysql'
alias mysqlstop='sudo systemctl stop mysql'
alias mysqlrest='sudo systemctl restart mysql'
alias mysqlstatus='sudo systemctl status mysql'

# php
alias phprest='sudo systemctl restart php-fpm'

# Docker
alias dockerst='sudo systemctl start docker'
alias dockerrest='sudo systemctl restart docker'
alias dockerstop='sudo systemctl stop docker'

# Other soft
#alias plsqldev='WINEPREFIX="/home/anthony/.wine" WINEARCH=win32 LC_TYPE=ru_RU.utf8 wine start /Unix /home/anthony/.wine/drive_c/Program\ Files/PLSQL\ Developer/plsqldev.exe'

# BARS & MIS
alias mis='~/bars/misflow/mis.sh'
alias bars='cd ~/bars'
alias lb='liquibase'
